{
  "env": {
    "development": {
      "presets": ["react-app"]
    },
    "production": {
      "presets": ["react-app"]
    }
  },
  "plugins": [
    [
      "styled-components",
      { "ssr": true, "displayName": true, "preprocess": false }
    ]
  ]
}
